<div class="block light">
  <div class="sponsors">
    <div class="emerald">
      <h2 class="heading">Emerald sponsors</h2>
      <div class="logos">
        <a class="logo" href="https://envato.com" target="_blank"><%= image_tag 'sponsors/envato.png', width: 200 %></a>
        <a class="logo" href="https://up.com.au" target="_blank"><%= image_tag 'sponsors/up.gif', width: 200 %></a>
        <a class="logo" href="https://cultureamp.com" target="_blank"><%= image_tag 'sponsors/culture-amp.png', width: 200 %></a>
        <a class="logo" href="https://twilio.com" target="_blank"><%= image_tag 'sponsors/twilio.png', width: 200 %></a>
      </div>
    </div>
    <div class="sapphire">
      <h3 class="subheading">Sapphire sponsors</h2>
      <div class="logos">
        <a class="logo" href="https://buildkite.com" target="_blank"><%= image_tag 'sponsors/buildkite.png', width: 150 %></a>
      </div>
    </div>
  </div>
</div>
