<div class="block">
  <h2 class="heading">What To Expect</h2>
  <div>
    <div class="slider">
      <div><%= image_tag 'slides/rc-img-1.jpg' %></div>
      <div><%= image_tag 'slides/rc-img-2.jpg' %></div>
      <div><%= image_tag 'slides/rc-img-3.jpg' %></div>
      <div><%= image_tag 'slides/rc-img-4.jpg' %></div>
      <div><%= image_tag 'slides/rc-img-5.jpg' %></div>
      <div><%= image_tag 'slides/rc-img-6.jpg' %></div>
      <div><%= image_tag 'slides/rc-img-7.jpg' %></div>
      <div><%= image_tag 'slides/rc-img-8.jpg' %></div>
    </div>
  </div>
  <div class="content">
    <p>Photos courtesy of <a href="https://www.flickr.com/photos/dylanfm/">DylanFM</a> and <a href="https://www.flickr.com/photos/macleod_merrin/">Merrin Macleod</a></p>
  </div>
</div>
