---
title: Railscamp 27 - Adelaide
description: "Rails Camp is a full weekend retreat for people interested in web development to gather and be awesome together. People attend for a variety of reasons: socializing, hacking, learning, teaching, gaming, and more."
url: https://railscamp.com.au
image: https://railscamp.com.au/images/og-image.jpg
---

<div class="blocks">
  <%= partial 'parts/feature' %>
  <%= partial 'parts/the-venue' %>
  <%= partial 'parts/transport' %>
  <%= partial 'parts/what-to-expect' %>
  <%= partial 'parts/faq' %>
  <%= partial 'parts/sponsors' %>
  <%= partial 'parts/contact' %>
</div>
