---
title: Railscamp 27 - Adelaide
description: "Rails Camp is a full weekend retreat for people interested in web development to gather and be awesome together. People attend for a variety of reasons: socializing, hacking, learning, teaching, gaming, and more."
url: https://railscamp.com.au
image: https://railscamp.com.au/images/og-image.jpg
---

<div class="blocks">
  <%= partial 'parts/feature' %>
  <%= partial 'parts/images', :locals => {:images => [5, 3] } %>
  <%= partial 'parts/the-venue' %>
  <%= partial 'parts/images', :locals => {:images => [2, 6] } %>
  <%= partial 'parts/transport' %>
  <%= partial 'parts/images', :locals => {:images => [4, 1] } %>
  <%= partial 'parts/faq' %>
  <%= partial 'parts/images', :locals => {:images => [7, 8] } %>
  <%= partial 'parts/sponsors' %>
  </div>
