---
title: Railscamp 27 - Adelaide
description: hello
url: https://railscamp.com.au
image: https://railscamp.com.au/images/og-image.jpg
---

<div class="blocks">
  <%= partial 'parts/feature' %>
  <%= partial 'parts/the-venue' %>
  <%= partial 'parts/transport' %>
  <%= partial 'parts/what-to-expect' %>
  <%= partial 'parts/faq' %>
  <%= partial 'parts/sponsors' %>
</div>
